.App {
  text-align: center;
  width: 1200px;
  margin: auto;
}

.App-header {
  height: 100px;
  padding: 20px;
  text-decoration: underline;
}

.App-intro {
  font-size: large;
}

.items {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  /* grid-template-columns: repeat(auto-fit, minmax(100px, 1fr)); */
  justify-items: center;
  grid-gap: 10px;
}

.title {
  border: 1px solid black;
  height: 150px;
  width: 150px;
  margin: 10px;
  background: lightyellow;
  float: left;
  padding: 15px;
  font-size: 11px;
  text-align: center;
}

.idea-title {
  border-bottom: 1px solid black;
  font-size: 13px;
  padding-bottom: 5px;
}

.idea-body {
  text-align: left;
}

.newIdeaButton {
  background: darkblue;
  color: white;
  border: none;
  font-size: 18px;
  cursor: pointer;
  margin: 0 10px 25px 10px;
  padding: 10px;
}
